#particles-js {
    height: 90vh;
    width: 100vw;
    background-color: black;
    position: relative;
  }

body{
  background-image: url("/static/photos/back_4.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}


@media only screen and (max-width: 600px) {
  div.col{
      display: none;;
  }
}

@media screen and (max-width: 600px) {
  .stories {
    display: none;
  }
}

.modal-backdrop.show {
  opacity: 0.8;
}


@media (min-width: 576px) {

.modal-dialog {  max-width:none;}
}

.modal-dialog {
 width: 60%;
height: 60%;
}

.modal-body {
 height: auto;
min-height: 100%;
}
